{% extends 'header.html' %}
{% load static %}
{%block title %}Search Form {% endblock %}
{% block content %}
    <div class="row" style="background-color:#B2C6D0;width:500px">
         <center><h3 class="title">Search Employee</h3>
             <div class="row" style="width:300px">
                 <form action="/searchcontent/" method="get">
                    <p>Enter the text to search</p>
                    <input type="text" id="searchtxt" name="searchtxt" >
                     <input type="submit" class="button small" value="search">
                </form>
             </div>
         </center>
    </div>
    <p style="color:red;text-align:center">{{msg}}</p>

{% endblock %}