{% extends 'header.html' %}
{% load static %}
{%block title %}Upload{% endblock %}

{% block content %}
   <center>{% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                <strong>{{ message|safe }}</strong>
            </div>
        {% endfor %}</center>
    {% else %}

        <div class="row" style="background-color:#B2C6D0;width:500px">
             <center><h3 class="title">Upload file</h3>
                 <div class="row" style="width:300px">
                     <form method="post" enctype="multipart/form-data">{% csrf_token %}
                     <p>Upload only csv file</p>
                     <label>Upload file....</label>
                     <input type="file" id="file" name="file" style="margin-left:30%;" accept=".csv">
                     <button class="button small" id="uploadbtn">upload csv</button>
                     </form>
                 </div>
                 <strong style="color:red"> Note: If upload is successful it will redirect to view employees</strong>
             </center>
        </div>
    {% endif %}
{% endblock %}