{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title%} Django Boards {% endblock%}</title>
	<link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
	{% block stylesheet %}{% endblock %} 
</head>
<body>
  {% block body%}
	<nav class="top-bar" data-topbar>
		<section class="top-bar-section">
			<ul class="left">
			    <li class="name">
			      <h1><a href="{% url 'hello' %}" style="font-family: 'Peralta', cursive;">Django Board</a></h1>
			    </li>
			</ul>
			{% if user.is_authenticated %}
				<a href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:100" style="margin-left:78%">{{user.username}}</a>
				<ul id="hover1" class="f-dropdown" data-dropdown-content style="background-color:white !important">
					<li><a href="{% url 'hello' %}" style="background-color:white !important;color:black">My Account</a></li>
					<li><a href="{% url 'password_change' %}" style="background-color:white !important;color:black">Change Passowrd</a></li>
					<li><a href="{% url 'logout' %}"style="background-color:white !important;color:black">Logout</a></li>
				</ul>
			{% else %}

				<form style="margin-left:78%;">
					<a href="{% url 'login' %}" class="button small">Login</a>
					<a href="{% url 'signup' %}" class="button small secondary">SignUp</a>
				</form>
			{% endif %}
		</section>
	</nav>			
	<div class="row" style="margin-top: 1%">
      <center><ul class="breadcrumbs" style="width: 50%">
        {% block breadcrumbs%}
        {% endblock %}
      </ul></center>

    {% block content %}
    {% endblock %}
    </div>
   {% endblock body%}
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/foundation.min.js' %}"></script>
  	<script>
		$(document).foundation({
		  dropdown: {
			active_class: 'open'
			}
		});
	</script>
</body>
</html>

