{% extends 'base.html' %}

{% block title %}Change Password!{% endblock %}

{% block breadcrumbs %}
  <li>Change password</li>
{% endblock %}

{% block content %}
    <center><div class="row loginFormInput" style="background-color:#B2C6D0;width:500px">

        <div class="row" style="width:300px">
            <form method="post"  novalidate>
                  {% csrf_token %}
                  {% include 'includes/form.html' %}
                  <button type="submit" class="button small radius success">Change Password</button>
            </form>
        </div>
        </center>
    </div>
{% endblock %}