{% extends 'base.html'%}

{% block title %}Reset your password {% endblock %}

{% block body %}
    <center xmlns="http://www.w3.org/1999/html"><a href="{% url 'hello' %}"><h3>Django Board</h3></a></center>
    <div class="row" style="background-color:#B2C6D0;width:500px">
        <center><h3 class="title">Reset Your Password</h3>
        <div class="row" style="width:300px">
            <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
            <a href="{% url 'login' %}" class="button secondary radius">Return to login</a>
        </div>
        </center>
    </div>
{% endblock %}