{% extends 'base.html' %}

{% block title %}
  {{ boards.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'hello' %}">Boards</a></li>
  <li>{{ boards.name }}</li>
{% endblock %}

{% block content %}
    
   <center> <div class="row">
      <a href="{% url 'new_topic' boards.pk %}" class="button small round">New topic</a>
    </div>
    <table class="table" style="width: 50%;height: 100%">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in boards.topics.all %}
        <tr>
            <td><a href="{% url 'topic_posts' boards.pk topic.pk %}">{{ topic.subject }}</a></td>
          <td>{{ topic.starter.username }}</td>
          <td>0</td>
          <td>0</td>
          <td>{{ topic.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table></center>
{% endblock %}